<section id="about" class="elementor-element elementor-element-95acacd elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="95acacd" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-b51d91a elementor-column elementor-col-100 elementor-top-column" data-id="b51d91a" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-7e4fc04 elementor-widget elementor-widget-text-editor" data-id="7e4fc04" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span style="color: #4989fd;">About us
				<br>
				</span>Just a few words</h2>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-012e95c elementor-widget elementor-widget-text-editor" data-id="012e95c" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="elementor-element elementor-element-5e41921 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5e41921" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-cf8cf65 elementor-column elementor-col-100 elementor-top-column" data-id="cf8cf65" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c1dcfa9 elementor-widget elementor-widget-text-editor" data-id="c1dcfa9" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span style="color: #4989fd;">Why is it best
				<br>
				</span>to choose our
                                        <br> company?
                                    </h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="elementor-element elementor-element-d898140 elementor-section-stretched elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="d898140" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-573c5d9 elementor-column elementor-col-50 elementor-top-column" data-id="573c5d9" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-7ed2e5b elementor-widget elementor-widget-spacer" data-id="7ed2e5b" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-7b2f3d1 elementor-column elementor-col-50 elementor-top-column" data-id="7b2f3d1" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-98ed2fa elementor-widget elementor-widget-text-editor" data-id="98ed2fa" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span>Mauricio Pereira
<br>
</span>Diretor Executivo</h2>
                                </div>
                            </div>
                        </div>

                        <section class="elementor-element elementor-element-4ff7c2a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4ff7c2a" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-6139565 elementor-column elementor-col-50 elementor-inner-column" data-id="6139565" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-98b5ff4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="98b5ff4" data-element_type="widget" data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon"> 
                                                                    <i aria-hidden="true" class="fas fa-envelope"></i> 
                                                                </span>
                                                                <span class="elementor-icon-list-text">mauricio@nortusbrasil.com.br</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="elementor-element elementor-element-d9a9640 elementor-section-stretched elementor-section-full_width elementor-section-content-middle elementor-reverse-mobile elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="d9a9640" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-1e9691a elementor-column elementor-col-50 elementor-top-column" data-id="1e9691a" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">

                        <section class="elementor-element elementor-element-1533fa0 elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1533fa0" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-wider">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3de9186 elementor-column elementor-col-100 elementor-inner-column" data-id="3de9186" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-28e4b29 elementor-widget elementor-widget-text-editor" data-id="28e4b29" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h2><span>Danielle Eirin
                        <br>
                        </span>Diretora comercial</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="elementor-element elementor-element-1f07f49 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1f07f49" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-wider">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-33fcb66 elementor-column elementor-col-33 elementor-inner-column" data-id="33fcb66" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-98b5ff4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="98b5ff4" data-element_type="widget" data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon"> 
                                                                    <i aria-hidden="true" class="fas fa-envelope"></i> 
                                                                </span>
                                                                <span class="elementor-icon-list-text">danielle@nortusbrasil.com.br</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>


            <div class="elementor-element elementor-element-0086820 elementor-column elementor-col-50 elementor-top-column" data-id="0086820" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-228a2e3 elementor-widget elementor-widget-spacer" data-id="228a2e3" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<section class="elementor-element elementor-element-d898140 elementor-section-stretched elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="d898140" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-573c5d9 elementor-column elementor-col-50 elementor-top-column" data-id="573c5d9" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-7ed2e5b elementor-widget elementor-widget-spacer" data-id="7ed2e5b" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-7b2f3d1 elementor-column elementor-col-50 elementor-top-column" data-id="7b2f3d1" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-98ed2fa elementor-widget elementor-widget-text-editor" data-id="98ed2fa" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span>Leonardo Cirne
<br>
</span>Diretor Administrativo</h2>
                                </div>
                            </div>
                        </div>

                        <section class="elementor-element elementor-element-4ff7c2a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="4ff7c2a" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-6139565 elementor-column elementor-col-50 elementor-inner-column" data-id="6139565" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-98b5ff4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="98b5ff4" data-element_type="widget" data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon"> 
                                                                    <i aria-hidden="true" class="fas fa-envelope"></i> 
                                                                </span>
                                                                <span class="elementor-icon-list-text">leonardo@nortusbrasil.com.br</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="elementor-element elementor-element-d9a9640 elementor-section-stretched elementor-section-full_width elementor-section-content-middle elementor-reverse-mobile elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="d9a9640" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-1e9691a elementor-column elementor-col-50 elementor-top-column" data-id="1e9691a" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">

                        <section class="elementor-element elementor-element-1533fa0 elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1533fa0" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-wider">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-3de9186 elementor-column elementor-col-100 elementor-inner-column" data-id="3de9186" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-28e4b29 elementor-widget elementor-widget-text-editor" data-id="28e4b29" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h2><span>Danielle Eirin
                        <br>
                        </span>Diretora comercial</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="elementor-element elementor-element-1f07f49 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="1f07f49" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-wider">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-33fcb66 elementor-column elementor-col-33 elementor-inner-column" data-id="33fcb66" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-98b5ff4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="98b5ff4" data-element_type="widget" data-widget_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon"> 
                                                                    <i aria-hidden="true" class="fas fa-envelope"></i> 
                                                                </span>
                                                                <span class="elementor-icon-list-text">danielle@nortusbrasil.com.br</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>


            <div class="elementor-element elementor-element-0086820 elementor-column elementor-col-50 elementor-top-column" data-id="0086820" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-228a2e3 elementor-widget elementor-widget-spacer" data-id="228a2e3" data-element_type="widget" data-widget_type="spacer.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>