<section id="contact" class="elementor-element elementor-element-d14897a elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="d14897a" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-bc43a20 elementor-column elementor-col-100 elementor-top-column" data-id="bc43a20" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-9ba03ca elementor-widget elementor-widget-text-editor" data-id="9ba03ca" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span>Fill the form</span>
                                        <br> to contact us quickly</h2>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-de56dc8 elementor-widget elementor-widget-text-editor" data-id="de56dc8" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-375b6ae elementor-widget elementor-widget-shortcode" data-id="375b6ae" data-element_type="widget" data-widget_type="shortcode.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-shortcode">

                                    <div id="contactWrapper">
                                        <form action="#" method="post">
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <input placeholder="Your name" type="text" name="name" size="40" required />
                                            </div>
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <input placeholder="Your e-mail" type="email" name="email" size="40" required />
                                            </div>
                                            <div class="column one">
                                                <input placeholder="Subject" type="text" name="subject" size="40" required />
                                            </div>
                                            <div class="column one">
                                                <textarea placeholder="Message" name="message" style="width:100%;" rows="10" required></textarea>
                                            </div>
                                            <div class="column one">
                                                <input type="button" class="submit-btn" value="Enviar Mensagem">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>