<div class="mfn-main-slider mfn-rev-slider">
    <p class="rs-p-wp-fix"></p>
    <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
        <rs-module id="rev_slider_1_1" data-version="6.2.6">
            <rs-slides>
                <rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
                    <img src="./assets/images/agency4-home-splash.jpg" class="rev-slidebg" data-no-retina>
                    <rs-layer id="slider-1-slide-1-layer-0" data-type="text" data-color="#4989fd" data-rsp_ch="on" data-xy="x:c;yo:140px,140px,147px,147px;" data-text="w:normal;s:45;l:25,25,25,25;fw:700;" data-basealign="slide" data-frame_999="o:0;st:w;" style="z-index:5;font-family:Nunito Sans;">
                        Online solutions
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-color="#0c117b" data-rsp_ch="on" data-xy="x:c;yo:183px,183px,194px,194px;" data-text="w:normal;s:45;l:25,25,25,25;fw:700;" data-basealign="slide" data-frame_999="o:0;st:w;" style="z-index:5;font-family:Nunito Sans;">
                        to boost your website
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-3" data-type="text" data-color="#adadc1" data-rsp_ch="on" data-xy="x:c;yo:250px,250px,156px,156px;" data-text="w:normal;s:14,14,8,8;l:25,25,15,15;a:center;" data-vbility="t,t,f,t" data-basealign="slide" data-frame_999="o:0;st:w;"
                        style="z-index:5;font-family:Nunito Sans;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <br> Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        <br>
                    </rs-layer><a id="slider-1-slide-1-layer-4" class="rs-layer rev-btn" href="content/agency4/services.html" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="x:c;xo:-90px,-90px,-100px,-100px;y:m;yo:10px,10px,-34px,-34px;"
                        data-text="w:normal;s:15;l:40;fw:700;" data-dim="minh:0px,0px,none,0px;" data-basealign="slide" data-padding="r:40;l:40;" data-border="bor:25px,25px,25px,25px;" data-frame_999="o:0;st:w;" data-frame_hover="bgc:#f30642;bor:25px,25px,25px,25px;bri:120%;"
                        style="z-index:6;background-color:#f74371;font-family:Roboto;">Our services </a>
                    <rs-layer id="slider-1-slide-1-layer-5" class="rev-btn" data-type="button" data-color="#0c117b" data-rsp_ch="on" data-xy="x:c;xo:100px;y:m;yo:10px,10px,-34px,-34px;" data-text="w:normal;s:15;l:36;fw:700;" data-dim="minh:0px,0px,none,0px;" data-actions="id:Content;o:click;a:scrollto;offset:-50px;sp:1000ms;e:power1.inOut;"
                        data-basealign="slide" data-padding="r:42,42,40,40;l:42,42,40,40;" data-border="bos:solid;boc:#0c117b;bow:3px,3px,3px,3px;bor:25px,25px,25px,25px;" data-frame_999="o:0;st:w;" data-frame_hover="c:#fff;bgc:#0c117b;boc:rgba(12,17,123,0.62);bor:25px,25px,25px,25px;bos:solid;bow:3px,3px,3px,3px;bri:120%;"
                        style="z-index:6;background-color:rgba(247,67,113,0);font-family:Roboto;">
                        Learn more
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-7" data-type="text" data-color="#4989fd" data-rsp_ch="on" data-xy="x:r;xo:-20px,-20px,-12px,-12px;y:m;yo:10px,10px,6px,6px;" data-text="w:normal;s:15,15,9,9;l:25,25,15,15;fw:800;" data-vbility="t,t,f,t" data-basealign="slide"
                        data-btrans="rZ:90;" data-frame_999="o:0;st:w;" data-loop_0="y:-10;oX:20%;oY:20%;" data-loop_999="y:10;sp:4000;e:sine.inOut;yym:t;" style="z-index:5;font-family:Nunito Sans;">
                        SCROLL DOWN <i class="fa-arrow-right" style='color:#f74371; margin-left:25px'></i>
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-8" data-type="text" data-color="#adadc1" data-rsp_ch="on" data-xy="x:r;xo:164px,164px,102px,102px;y:b;yo:87px,87px,53px,53px;" data-text="w:normal;s:14,14,8,8;l:25,25,15,15;fw:700;a:center;" data-vbility="t,t,f,t"
                        data-basealign="slide" data-frame_999="o:0;st:w;" style="z-index:5;font-family:Nunito Sans;">
                        Visit our Social Media
                    </rs-layer><a id="slider-1-slide-1-layer-12" class="rs-layer" href="#" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="x:r;xo:95px,95px,59px,59px;y:b;yo:77px,77px,47px,47px;" data-text="w:normal;s:14,14,8,8;l:25,25,15,15;fw:700;"
                        data-vbility="t,t,f,t" data-basealign="slide" data-padding="t:10,10,6,6;r:14,14,9,9;b:10,10,6,6;l:14,14,9,9;" data-border="bor:100%,100%,100%,100%;" data-frame_999="o:0;st:w;" style="z-index:7;background-color:#4989fd;font-family:Nunito Sans;">FB </a>
                    <a id="slider-1-slide-1-layer-13" class="rs-layer" href="#" target="_self" rel="nofollow" data-type="button" data-rsp_ch="on" data-xy="x:r;xo:45px,45px,28px,28px;y:b;yo:76px,76px,47px,47px;" data-text="w:normal;s:14,14,8,8;l:25,25,15,15;fw:700;" data-vbility="t,t,f,t"
                        data-basealign="slide" data-padding="t:10,10,6,6;r:15,15,9,9;b:10,10,6,6;l:15,15,9,9;" data-border="bor:100%,100%,100%,100%;" data-frame_999="o:0;st:w;" style="z-index:7;background-color:#4989fd;font-family:Nunito Sans;">IN </a>
                    <rs-layer id="slider-1-slide-1-layer-14" data-type="text" data-color="#adadc1" data-rsp_ch="on" data-xy="xo:90px,90px,56px,56px;y:b;yo:90px,90px,56px,56px;" data-text="w:normal;s:14,14,8,8;l:25,25,15,15;fw:700;a:center;" data-vbility="t,t,f,t" data-basealign="slide"
                        data-frame_999="o:0;st:w;" style="z-index:5;font-family:Nunito Sans;">
                        Have questions?
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-15" data-type="text" data-color="#4989fd" data-rsp_ch="on" data-xy="xo:90px,90px,56px,56px;y:b;yo:70px,70px,43px,43px;" data-text="w:normal;s:17,17,10,10;l:25,25,15,15;fw:700;" data-vbility="t,t,f,t" data-basealign="slide"
                        data-frame_999="o:0;st:w;" style="z-index:5;font-family:Nunito Sans;">
                        +32 540 200 7575
                    </rs-layer>
                    <rs-layer id="slider-1-slide-1-layer-18" data-type="image" data-rsp_ch="on" data-xy="xo:50px,50px,31px,31px;y:b;yo:70px,70px,43px,43px;" data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-dim="w:31px,31px,18px,18px;h:42px,42px,25px,25px;" data-vbility="t,t,f,t"
                        data-basealign="slide" data-frame_999="o:0;st:w;" style="z-index:8;"><img src="./assets/images/agency4-home-splash-icon.png" width="34" height="45" data-no-retina>
                    </rs-layer>
                </rs-slide>
            </rs-slides>
            <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
        </rs-module>

    </rs-module-wrap>
</div>