<section id="about" class="elementor-element elementor-element-9515477 elementor-section-stretched elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
    data-id="9515477" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-7c75d77 elementor-column elementor-col-50 elementor-top-column" data-id="7c75d77" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-60904ca elementor-widget elementor-widget-image" data-id="60904ca" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <img width="780" height="874" src="./assets/images/agency4-home-whyus-people.jpg" class="attachment-large size-large" alt>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-246699b elementor-column elementor-col-50 elementor-top-column" data-id="246699b" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-d2caae0 elementor-widget elementor-widget-text-editor" data-id="d2caae0" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span>What</span> can
                                        <br> we offer you?</h2>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-41c8c5f elementor-widget elementor-widget-text-editor" data-id="41c8c5f" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-28eae2d elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="28eae2d" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items">
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fas fa-check-circle"></i> </span><span class="elementor-icon-list-text">We have over 15 years experience in the industry</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fas fa-check-circle"></i> </span><span class="elementor-icon-list-text">One of the best ratings on the market - 98%</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fas fa-check-circle"></i> </span><span class="elementor-icon-list-text">Our team is very qualified and we are still growing</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                        <span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fas fa-check-circle"></i> </span><span class="elementor-icon-list-text">We helped many companies</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-cb2a4c0 elementor-widget elementor-widget-button" data-id="cb2a4c0" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="content/agency4/about.html" class="elementor-button-link elementor-button elementor-size-md" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">More about us</span> </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>