<div id="Wrapper">

    <app-header></app-header>

    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section the_content has_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper">
                                <div data-elementor-type="wp-page" data-elementor-id="9" class="elementor elementor-9" data-elementor-settings="[]">
                                    <div class="elementor-inner">
                                        <div class="elementor-section-wrap">

                                            <!-- content -->
                                            <router-outlet></router-outlet>
                                            <!-- content -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-contact></app-contact>


    <app-footer></app-footer>


</div>

<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
    </div>
    <div class="extras">
        <a href="https://1.envato.market/9ZxXY" class="action_button" target="_blank">Buy now</a>
        <div class="extras-wrapper"></div>
    </div>
    <div class="menu_wrapper"></div>
</div>

<div id="body_overlay"></div>