<section id="seo" class="elementor-element elementor-element-039fd3f elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="039fd3f" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-9414c83 elementor-column elementor-col-100 elementor-top-column" data-id="9414c83" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-92baac4 elementor-widget elementor-widget-text-editor" data-id="92baac4" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <h2><span>What we can do for</span>
                                        <br> your website</h2>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-7bb2278 elementor-widget elementor-widget-text-editor" data-id="7bb2278" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>
                                        Starting from SEO services to comprehensive service
                                        <br> related to advertasing your brand.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <section class="elementor-element elementor-element-3d2bb35 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="3d2bb35" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-element elementor-element-81dabdd elementor-column elementor-col-33 elementor-inner-column" data-id="81dabdd" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-c238c7a elementor-widget elementor-widget-image" data-id="c238c7a" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="780" height="780" src="./assets/images/agency4-home-services-icon2.png" class="attachment-large size-large" alt>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-d355eb6 elementor-widget elementor-widget-text-editor" data-id="d355eb6" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                Social Media Marketing
                                                            </p>
                                                            <p>
                                                                <span style="color: #4e579b;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9a88bf2 elementor-column elementor-col-33 elementor-inner-column" data-id="9a88bf2" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-8e6bb15 elementor-widget elementor-widget-image" data-id="8e6bb15" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="780" height="780" src="./assets/images/agency4-home-services-icon3.png" class="attachment-large size-large" alt>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-b9a1d9b elementor-widget elementor-widget-text-editor" data-id="b9a1d9b" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                Speed Optimisation
                                                            </p>
                                                            <p>
                                                                <span style="color: #4e579b;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-cb45c01 elementor-column elementor-col-33 elementor-inner-column" data-id="cb45c01" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-d8a94a6 elementor-widget elementor-widget-image" data-id="d8a94a6" data-element_type="widget" data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="786" height="786" src="./assets/images/agency4-home-services-icon1.png" class="attachment-large size-large" alt>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-e58b273 elementor-widget elementor-widget-text-editor" data-id="e58b273" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <p>
                                                                Client &amp; Sale Targeting
                                                            </p>
                                                            <p>
                                                                <span style="color: #4e579b;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="elementor-element elementor-element-4d6f8f7 elementor-align-center elementor-widget elementor-widget-button" data-id="4d6f8f7" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="http://services/" class="elementor-button-link elementor-button elementor-size-md" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">See all services</span> </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>